.contentWrapper {
    margin: auto;
    width: 70%;
}

.dropdownContainer {
    width: 100%;
    margin: auto;

    padding-bottom: 7em;
}

.teacherDropdown {
    float: left;
}

.yearDropdown {
    float: right;
}

.btn {
    background: #27296d !important;
    border-color: #27296d !important;
    box-shadow: unset !important;
}

.search-button {
    margin-left: 12em;
}