.optionals-wrapper {
    width: 50%;
    min-height: 35em;
    margin: auto;
    margin-top: 2em;
    border: 2px solid red;
}

.optionals-info-wrapper {
    height: 30%;
    border: 2px solid yellow;
}

.optionals-form-wrapper {
    min-height: 70%;
    border: 2px solid green;
}

.optionals-table-wrapper {
    margin-top: 4em;
}

.interactionForm {
    width: 100%;
    /* border: 2px solid magenta; */
}

.interactionTextInput {
    width: 50%;
    padding: 3px;
    margin-top: 1em;

    /* border: 2px solid black; */
}

.label {
    width: 40%;
    padding: 3px;
    margin-top: 1em;

    /* border: 2px solid maroon; */
}

.submitButton {
    height: 4em;
    width: 7em;
    margin-top: 2em;
    margin-left: 17.3em;
}

.optionals-legend {
    text-align: center;
    font-style: italic;
}