body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbe9fc !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, .App, #root, .auth-wrapper{
  width: 100%;
  /* height: 100%; */
}

.auth-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner{
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin-top: 100px;
}

label{
  font-weight: bold;
}

.auth-wrapper .form-control:focus{
  border-color: #167bff;
  box-shadow: none;
}

.btn-primary{
  background-color: #27296d !important;
  border-color: #27296d !important;
}

.auth-wrapper h3{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label{
  font-weight: 400;
}

.forgot-password,
.forgot-password a{
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color:#7f7d7d;
  margin: 0;
}

.forgot-password a{
  color: #167bff;
}

.sign-div {
  margin-top: 20%;
}

